@charset "UTF-8";

/* 전체 페이지의 폰트 설정 */
* {
    font-family: 'Noto Sans KR', sans-serif;
}

/* [아이디] 폼 설정 */

/* 아이디찾기 타이틀 가운데로 이동 */
h3#title {
	/* 글씨 가운데 정렬 */
	text-align: center;
	
	/* 주변 영역 설정 */
	padding-top: 10px;
	background-color: pink;
}



/* 이메일입력 멘트 설정 */
p {
	/* inline 방식 처리함 */
}
/* div#contentModal1 p {
	글씨 가운데 정렬
	text-align: center;
	
	주변 영역 설정	
	padding-top: 50px;
} */


/* input 설정 */
/* input#email {
	길이설정
	width: 150px;
	높이설정
    height: 30px;
    태그 내 글씨 위치설정
    line-height: 20px;
    테두리설정
    border-radius: 5px;
    border: 1px solid rgb(182, 182, 182);
    글씨 살짝 왼쪽에서 띄우기
    padding-left: 10px;
    왼쪽에서 살짝 띄우기
    margin-left: 70px;
} */

/* select 설정 */
/* select#email_select {
	width:150px; 
	height:31px;
	테두리설정
    border-radius: 5px;
    border: 1px solid rgb(182, 182, 182);
} */

/* [인증번호 전송] 버튼 설정 */
/* button#send-btn { */
	/*버튼 영역 설정 */
	/* padding: 7px 15px;
	margin-left: 10px; */

    /* 버튼 테두리, 폰트 색상, 배경 설정 */
    /* border: 1px solid #ffcc33;
    border-radius: 25px;
    color: #ffcc33;
    background-color: white;
} */
/* [인증번호 전송] 버튼에 마우스를 올렸을 때 포인터, 배경색상 설정 */
/* button#send-btn:hover {
	cursor: pointer;
    background-color: #ffcc33;
    color: white;
}  */

/* [로그인] 버튼 설정  */
/* button#send-login-btn { */
	/* 원래는 안 보이게 해야 한다 */
	/* display: none; */
	
	/* 버튼 크기, 테두리 설정 */
    /* padding: 10px 60px;
    margin-left: 210px;
    margin-bottom: 20px;

    background-color: black; */ /* 버튼 배경 */ 
    /* border-radius:25px; */ /* 버튼을 둥글게! */ 
    /* border: 0;  *//* 박스 선 없애기!*/ 
    /* font-size: large; */ /* 폰트 사이즈*/ 
    /* color: white;  *//* 폰트 컬러 */
}
/* [로그인] 버튼에 마우스를 올렸을 때 마우스 포인터 설정 */
/* button#send-login-btn:hover {
    cursor: pointer;
    background-color: rgb(98, 98, 98);
} */